@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/*GENERAL*/
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: "roboto", sans-serif;
}

main {
  padding: 0 7 rem;
}
@media (max-widht: 1000px) {
  main {
    padding: 0.1rem;
  }
}

h2 {
  padding: 2rem;
  margin: 0;
}

h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  font-family: "shrikhand", "cursive";
  text-align: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  padding: 0.3rem;
  position: relative;
}

.city {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #f3f3f3;
  text-align: center;
  padding: 0.5rem;
}
.city i {
  font-size: 1.5rem;
}

.explorer {
  text-align: center;
}
.explorer h2 {
  margin-top: 2rem;
  font-size: 2rem;
}
.explorer p {
  font-size: 1rem;
}
.explorer button {
  color: white;
  font-weight: 300;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  transition: transform 200ms;
  margin-top: 1rem;
  box-shadow: 2px 1px 16px -3px #000000;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
}
.explorer button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

.tuto {
  counter-reset: steps;
  margin-bottom: 2rem;
}
.tuto ol {
  display: flex;
  gap: 2rem;
}
@media (max-width: 800px) {
  .tuto ol {
    flex-direction: column;
  }
}
.tuto li {
  position: relative;
  list-style-type: none;
  background-color: #f6f6f6;
  padding: 1.5rem 2rem;
  flex-grow: 1;
  border-radius: 1rem;
  box-shadow: 2px 1px 16px -3px #000000;
}
.tuto li ::before {
  content: counter(steps);
  counter-increment: steps;
  color: white;
  background-color: #9356dc;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -1rem;
  transform: translateY(-50%);
}
.tuto li:hover {
  transform: scale(1.02);
}
.tuto li i.fas {
  margin-right: 1rem;
  color: black;
  font-size: 1.5rem;
}

.menus {
  background-color: #f6F6F6;
  margin-bottom: 2rem;
}
.menus h2 {
  margin-bottom: 2rem;
}
.menus .menus_cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
@media (max-width: 1000px) {
  .menus .menus_cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.menus .menus_cards .new {
  position: relative;
}
.menus .menus_cards .new::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: #99e2D0;
  color: #1b6150;
  display: grid;
  place-items: center;
  right: 1rem;
  top: 1rem;
}
.menus .card .card__image {
  height: 15rem;
  border-radius: 1rem 1rem 0 0;
  background-size: cover;
}
.menus .card .card__image-1 {
  background-image: url(../../images/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}
.menus .card .card__image-2 {
  background-image: url(../../images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}
.menus .card .card__image-3 {
  background-image: url(../../images/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}
.menus .card .card__image-4 {
  background-image: url(../../images/stil-u2Lp8tXIcjw-unsplash.jpg);
}
.menus .card__description {
  position: relative;
  background-color: white;
  border-radius: 0 0 1rem 1rem;
}
.menus .card__description::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "font Awesome 5 free";
  font-weight: 400;
  content: "\f004";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
}
.menus .card__description::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "font Awesome 5 free";
  font-weight: 900;
  content: "\f004";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
}
.menus .card__description:hover::after {
  opacity: 1;
  transform: translateY(-50%) scale(1.1);
}
.menus .card__description h3,
.menus .card__description p {
  padding: 0.3rem;
}

footer {
  background-color: #353535;
  padding: 1rem 2rem;
  color: white;
}
footer h2 {
  font-family: "shrikhand", "sans-serif";
  font-weight: 500;
  padding: 1rem 0;
}
footer p {
  padding: 0.2rem;
}

img {
  max-width: 100%;
}

.resto__main {
  padding: 0 1rem;
}
.resto__main h2 {
  font-family: "Shrikhland";
  position: relative;
  background-color: white;
  border-radius: 0 0 1rem 1rem;
}
.resto__main h2::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "font Awesome 5 free";
  font-weight: 400;
  content: "\f004";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
}
.resto__main h2::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "font Awesome 5 free";
  font-weight: 900;
  content: "\f004";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
}
.resto__main h2:hover::after {
  opacity: 1;
  transform: translateY(-50%) scale(1.1);
}/*# sourceMappingURL=style.css.map */