@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/*GENERAL*/
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: "roboto", sans-serif;
}

main {
  padding: 0 7 rem;
}
@media (max-widht: 1000px) {
  main {
    padding: 0.1rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  font-family: "shrikhand", "cursive";
  text-align: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  padding: 0.3rem;
  position: relative;
}
header h1 {
  font-weight: normal;
}

.city {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #ece9e9;
  text-align: center;
  padding: 0.3rem;
}
.city i {
  font-size: 1.5rem;
}

.explorer {
  text-align: center;
}
.explorer h2 {
  margin-top: 2rem;
  font-size: 2rem;
  padding: 1.5rem;
}
.explorer p {
  font-size: 1.5rem;
  color: grey;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
}
.explorer button {
  color: white;
  font-weight: 300;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  transition: transform 200ms;
  margin-top: 1rem;
  box-shadow: 2px 1px 16px -3px black;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
}
.explorer button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

.tuto {
  counter-reset: steps;
  margin-bottom: 2rem;
}
.tuto ol {
  display: flex;
  gap: 2rem;
}
@media (max-width: 800px) {
  .tuto ol {
    flex-direction: column;
  }
}
.tuto li {
  position: relative;
  list-style-type: none;
  background-color: #f6f6f6;
  padding: 1.5rem 2rem;
  flex-grow: 1;
  border-radius: 1rem;
  box-shadow: 2px 1px 16px -3px black;
}
.tuto li::before {
  content: counter(steps);
  counter-increment: steps;
  color: white;
  background-color: #9356dc;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -1rem;
  transform: translateY(-50%);
}
.tuto li:hover {
  transform: scale(1.02);
}
.tuto li i.fas {
  margin-right: 1rem;
  color: grey;
  font-size: 1.5rem;
}

#pageaccueil .menus {
  background-color: #f6F6F6;
  margin-bottom: 2rem;
}
#pageaccueil .menus_cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
@media (max-width: 1000px) {
  #pageaccueil .menus_cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
#pageaccueil .menus_cards .new {
  position: relative;
}
#pageaccueil .menus_cards .new::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: #99e2D0;
  color: #1b6150;
  display: grid;
  place-items: center;
  right: 1rem;
  top: 1rem;
}
#pageaccueil .card .card__image {
  height: 15rem;
  border-radius: 1rem 1rem 0 0;
  background-size: cover;
}
#pageaccueil .card .card__image-1 {
  background-image: url(../../images/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}
#pageaccueil .card .card__image-2 {
  background-image: url(../../images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}
#pageaccueil .card .card__image-3 {
  background-image: url(../../images/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}
#pageaccueil .card .card__image-4 {
  background-image: url(../../images/stil-u2Lp8tXIcjw-unsplash.jpg);
}
#pageaccueil .card__description {
  position: relative;
  background-color: white;
  border-radius: 0 0 1rem 1rem;
}
#pageaccueil .card__description::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "font Awesome 5 free";
  font-weight: 400;
  content: "\f004";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
}
#pageaccueil .card__description::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "font Awesome 5 free";
  font-weight: 900;
  content: "\f004";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
}
#pageaccueil .card__description:hover::after {
  opacity: 1;
  transform: translateY(-50%) scale(1.1);
}
#pageaccueil .card__description h3,
#pageaccueil .card__description p {
  padding: 0.3rem;
}

footer {
  background-color: #353535;
  padding: 1rem 2rem;
  color: white;
}
footer h2 {
  font-family: "shrikhand", "sans-serif";
  font-weight: 500;
  padding: 1rem 0;
}
footer p {
  padding: 0.2rem;
}

@keyframes quarter-spin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
body {
  background-color: #F6F6F6;
}

#page-lapalette .banner img {
  display: block;
  width: 100%;
  height: 70vh;
  object-fit: cover;
  object-position: center bottom;
}
#page-lapalette .resto-title {
  margin-top: -2rem;
}
#page-lapalette .resto-title h2 {
  font-family: "Shrikhand", "cursive";
  padding: 2rem 1rem;
  position: relative;
  background-color: white;
  border-radius: 0 0 1rem 1rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #F6F6F6;
}
#page-lapalette .resto-title h2::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "font Awesome 5 free";
  font-weight: 400;
  content: "\f004";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
}
#page-lapalette .resto-title h2::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "font Awesome 5 free";
  font-weight: 900;
  content: "\f004";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
}
#page-lapalette .resto-title h2:hover::after {
  opacity: 1;
  transform: translateY(-50%) scale(1.1);
}
#page-lapalette .resto-main {
  padding: 0 1rem;
}
#page-lapalette .menus {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
@media (max-width: 1000px) {
  #page-lapalette .menus {
    grid-template-columns: 1fr;
  }
}
#page-lapalette .menus h3 {
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
}
#page-lapalette .menus h3:after {
  content: "";
  position: absolute;
  top: 1.5rem;
  left: 0rem;
  height: 0.25rem;
  width: 3rem;
  background-color: #99e2D0;
}
#page-lapalette .menus .menu_category {
  overflow: hidden;
}
#page-lapalette .menus .menu_category .menu-item {
  display: flex;
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  margin: 0.5rem;
  box-shadow: 2px 1px 16px -3px black;
}
#page-lapalette .menus .menu_category .menu-item .menu-item-price {
  margin-left: auto;
  font-weight: 900;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
}
#page-lapalette .menus .menu_category .menu-item .menu-item-description {
  padding: 1rem;
  overflow: hidden;
}
#page-lapalette .menus .menu_category .menu-item .menu-item-description h4,
#page-lapalette .menus .menu_category .menu-item .menu-item-description p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#page-lapalette .menus .menu_category .menu-item .menu-item-check {
  display: grid;
  place-items: center;
  flex-shrink: 0;
  border-radius: 0 1rem 1rem 0;
  background-color: #99e2D0;
  margin-right: -4rem;
  width: 4rem;
  transition: margin-right 0.5s;
}
#page-lapalette .menus .menu_category .menu-item .menu-item-check i {
  display: grid;
  place-items: center;
  background: white;
  aspect-ratio: 1;
  width: 2rem;
  border-radius: 1rem;
  color: #99e2D0;
}
#page-lapalette .menus .menu_category .menu-item:hover .menu-item-check {
  margin-right: 0;
}
#page-lapalette .menus .menu_category .menu-item:hover i {
  animation: quarter-spin 0.5s ease-in-out;
}
#page-lapalette section.order {
  height: 30vh;
  display: grid;
  place-items: center;
}
#page-lapalette section.order button {
  color: white;
  font-weight: 300;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  transition: transform 200ms;
  margin-top: 1rem;
  box-shadow: 2px 1px 16px -3px black;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
}/*# sourceMappingURL=style.css.map */