.city {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #f3f3f3;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    & i {
      font-size: 20px;
    }
    
  }