@use"../utils/mixins";
@use"../utils/variables";
@use"../utils/colors";


.tuto{
    counter-reset: steps;
    margin-bottom: 2rem;
    background-color: white;
    margin-top: 15px;
    padding-top: 25px;
    h2{
        margin-top: 20px;
        margin-left: 23px;
        margin-bottom: 19px;
    }
    & ol{
        display: flex;
        gap: 2rem ;
        @media (max-width: 800px){
            flex-direction: column;
        }
    }
    & li{
        position: relative;
        &::before {
            content:counter(steps);
            counter-increment: steps;
            color: white;
            background-color: colors.$purple;
            width: 22px;
            height: 22px;
            display: grid;
            place-items: center;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: -1 * variables.$tuto-bullet-height;
            transform: translateY(-50%);
        }
        list-style-type: none;
        background-color: #f6f6f6;
        padding: 1.5rem 2rem;
        flex-grow: 1;
        border-radius: 1rem;
        margin-right: 15px;
        @include mixins.base-shadow;
        &:hover{
            @include mixins.transform-zoom;
            background-color: #f5ecff;
        }
              
        & i.fa{
            margin-right: 10px;
            color: grey;
            font-size: 17px;
        }
        i.fa:hover {
            color: #9156db;
        }
        
    }
}