.city {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #ece9e9;
    text-align: center;
    padding: 0.3rem;
    & i {
      font-size: 1.5rem;
    }
  }