@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
/*GENERAL*/
*{
    box-sizing: border-box;
   -moz-box-sizing: border-box; 
   -webkit-box-sizing: border-box; 
    
}
body{
    font-family: "roboto", sans-serif;

}
header{
    font-family: "shrikhand", "cursive";
    text-align: center;
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
    padding: 0.3rem;
    position: relative
}
main .city{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #f3f3f3;
    text-align: center;
    padding:0.5rem;
}
main .city i{
    font-size: 1.5rem;
}
.explorer{
    text-align: center;
}
.explorer h2{
    margin-top: 2rem;
    font-size: 2rem;
}
.explorer p{
    font-size: 1rem;
}
.explorer button{
    color: white;
    font-weight: 300;
    font-size: 1.5rem;
    padding: 1rem, 2rem;
    border: none;
    border-radius: 2rem;
    box-shadow: 2px 1px 16px -3px #000000;
    background-image: linear-gradient(to top, #ff79da ,#9356DC);
}